<%= render 'shared/errors', obj: @recipe %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@recipe, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
         <div class="control-label col-md-2">
           <%= f.label :name %>
         </div> 
         <div class="col-md-8">
           <%= f.text_field :name, class: "form-control", placeholder: "作品名", autofocus: true %>
         </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%=  f.label :description %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "作成する手順を入力してください" %>
        </div>
      </div>
       <div class="form-group">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |cb| %>
              <% cb.label(class: "checkbox-inline input_chechbox") {cb.check_box(class: "checkbox") + cb.text} %>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit"作品を追加", class: "btn btn-primary btn-lg btn-xlarge" %>
        </div>
      </div>

    <% end %> 
    <div class="col-md-4 col-md-offset-4 colormatch">
      [ <%= link_to "作成を中止してリストへ戻る", recipes_path %> ]
    </div>
</div>
